nav {
  .nav-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    background: #fff;
    z-index: 99;
    h5 {
      color: #3d3d3d;
      font-size: 24px;
      font-weight: 700;
      margin: 0px;
    }
    .hambergger{
        display: none;
        @media only screen and (max-width: 768px) {
            display: inline-block;
        }
    }
    ul {
      list-style-type: none;
      padding: 0px;
      display: flex;
      gap: 24px;
      text-transform: capitalize;
      @media only screen and (max-width: 768px) {
        display: none;
    }
      li {
        color: #3d3d3d;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        padding-bottom: 10px;
        padding-right: 22px;
        &.active {
       
          border-bottom: 2px solid #3e3e3e;
        }
      }
    }
  }
}
